/* 
  Stylesheet for Product Display for Opencart Plugin
  https://www.thatsoftwareguy.com/wp_product_display_for_opencart.html 
*/
#prod-left {
  width: 200px;
  float: left;
}
#prod-right {
  margin-left: 200px;
  /* Change this to whatever the width of your left column is*/
}
.prod-clear {
  clear: both;
}
